{% extends 'base.html' %}

{% block content %}

<section class="banner_main">
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption  banner_po">
                        <div class="build_box">
                            <h1 style="text-align:center">Error - 404</h1>
                            <br>
                            <br>
                            <p style="text-align:center">Przepraszamy za utrudnienia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}