{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<button onclick="window.location.href='{% url 'post_new' %}'" class="btn btn-success">Dodaj </button>
{% endif %}


<div class="about">
    <div class="container">
        {% for blog in blogs %}
        {% if blog.Right == True %}
        {% if user.is_authenticated %}
        <button onclick="window.location.href='{% url 'post_edit' pk=blog.pk %}'"
            class="btn btn-primary">Edycja</button>
        <button onclick="window.location.href='{% url 'post_delete' pk=blog.pk %}'" class="btn btn-danger">Usuń</button>
        {% endif %}
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <div class="titlepage">
                    <h2>{{ blog.Title }}</h2>
                    <p>{{ blog.Description|linebreaksbr|truncatechars:200 }}</p>
                    <a class="read_more" href="{% url 'post_detail' pk=blog.pk %}"> Czytaj dalej</a>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <figure>
                    <img src="{{ blog.Photo.url }}" alt="About Image" class="img-fluid" />
                </figure>
            </div>
        </div>
        {% elif blog.Left == True %}
        {% if user.is_authenticated %}
        <button onclick="window.location.href='{% url 'post_edit' pk=blog.pk %}'"
            class="btn btn-primary">Edycja</button>
        <button onclick="window.location.href='{% url 'post_delete' pk=blog.pk %}'" class="btn btn-danger">Usuń</button>
        {% endif %}
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <figure>
                    <img src="{{ blog.Photo.url }}" alt="About Image" class="img-fluid" />
                </figure>
            </div>
            <div class="col-md-6 text-center">
                <div class="titlepage">
                    <h2>{{ blog.Title }}</h2>
                    <p>{{ blog.Description|linebreaksbr|truncatechars:200 }}</p>
                    <a class="read_more" href="{% url 'post_detail' pk=blog.pk %}"> Czytaj dalej</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}