{% extends 'base.html' %}

{% block content %}
<h1 class="banner_taital">Nowości i nowinki z BastianWorld</h1>
<div class="client_section layout_padding">
    <div class="container">
            <div class="button_container">
                <div class="read_bta">
                    <a href="">Coming Soon</a>
                </div>
                <div class="read_bta">
                    <a href="{% url 'blogS' %}">SerwisBlog</a>
                </div>
                <div class="read_bta">
                    <a href="">Coming Soon</a>
                </div>
            </div>
             {% if user.is_authenticated %}
             <button onclick="window.location.href='{% url 'post_new_BW' %}'" class="btn btn-success">Nowy post</button>
              {% endif %}
            <br>
            <hr style="background-color:white">

             {% for blog in blogs %}
            {% if blog.lewo == True %}
        <div class="client_section layout_padding">
    <div class="container">
             {% if user.is_authenticated %}
             <button onclick="window.location.href='{% url 'post_edit_BW' pk=blog.pk %}'" class="btn btn-primary">Edycja</button>
             <button onclick="window.location.href='{% url 'post_delete_BW' pk=blog.pk %}'" class="btn btn-danger">Usuń</button>
              {% endif %}
            <br>
            <div class="client_section_2">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="client_main">
                           <div class="box_left">
                                <h1 class="client_taital">{{ blog.tytul }}</h1>
                               <br>
                                <p class="lorem_text">{{ blog.opis|linebreaksbr|truncatechars:200 }}</p>
                            </div>
                           <div class="box_right">
                               <div class="client_img">
                                {% if blog.zdjecie %}
                                <img src="{{ blog.zdjecie.url }}" class="image_6">
                                   <div class="button_container">
                                       <div class="read_bt"><a href="{% url 'post_detail_BW' pk=blog.pk %}">Czytaj dalej...</a></div>

                                   </div>

                                {% else %}

                                {% endif %}
                               </div>
                            </div>
                           </div>
                        </div>
                     </div>
                    <br>
                    <h3 class="news_text">{{ blog.data }}</h3>
                    <hr style="background-color:white">
               </div>
            </div>
        </div>
    </div>
            {% elif blog.prawo == True %}
            <div class="client_section layout_padding">
    <div class="container">
             {% if user.is_authenticated %}
             <button onclick="window.location.href='{% url 'post_edit_BW' pk=blog.pk %}'" class="btn btn-primary">Edycja</button>
             <button onclick="window.location.href='{% url 'post_delete_BW' pk=blog.pk %}'" class="btn btn-danger">Usuń</button>
              {% endif %}
            <br>
            <div class="client_section_2">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="client_main">
                           <div class="box_left">
                               <h1 class="client_taital">{{ blog.tytul }}</h1>
                               <br>
                               <div class="client_img">
                                    {% if blog.zdjecie %}
                                    <img src="{{ blog.zdjecie.url }}" class="image_6">
                                    {% else %}

                                    {% endif %}
                               </div>
                            </div>
                           <div class="box_right">
                                <p class="lorem_text">{{ blog.opis|linebreaksbr|truncatechars:200 }}</p>
                                                              <div class="button_container">
                                       <div class="read_bt"><a href="{% url 'post_detail_BW' pk=blog.pk %}">Czytaj dalej...</a></div>

                                   </div>
                            </div>
                           </div>
                        </div>
                     </div>
                     <br>
                    <h3 class="news_text">{{ blog.data }}</h3>
                    <hr style="background-color:white">
               </div>
            </div>
            </div>
</div>
            {% endif %}
            {% endfor %}

{% endblock %}




