{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}

    {% if message.tags == 'error' %}
    <div class="alert alert-danger">
    {{message}}
    </div>
    {% else %}
    <div class="alert alert-{{message.tags}}">
    {{message}}
    </div>
    {% endif %}

    {% endfor %}
          {% endif %}
      <div class="news_section layout_padding">
      <div class="container">
          <br>
         <h1 class="banner_taital">Napisz do nas</h1>
          <br>
          <div class="email_text">
                <form method="POST" action="{% url 'send_question_email_view' %}">
        {% csrf_token %}
        {{ form.dane }}
        {{ form.temat }}
        {{ form.nrtel }}
        {{ form.email }}
        {{ form.wiadomosc }}
        {{ form.captcha }}
        <div class="send_btn">
            <button type="submit">Wyślij</button>
        </div>
    </form>
          </div>
      </div>
      </div>

{% endblock %}

