{% extends 'base.html' %}

{% block content %}
      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="banner_taital">Kim jesteśmy?</h1>
             {% if user.is_authenticated %}
             <button onclick="window.location.href='{% url 'about_us_new' %}'" class="btn btn-success">Dodaj</button>
              {% endif %}
            <br>
          <br>
             <br>
          <br>
             <br>
          <hr style="background-color:white">
            {% for qual in quals %}
            {% if qual.prawo == True %}
             {% if user.is_authenticated %}
             <button onclick="window.location.href='{% url 'about_us_edit' pk=qual.pk %}'" class="btn btn-primary">Edycja</button>
             <button onclick="window.location.href='{% url 'about_us_delete' pk=qual.pk %}'" class="btn btn-danger">Usuń</button>
              {% endif %}
             <br>
             <br>
             <br>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="news_taital_box">
                        <h1 class="client_taital">{{ qual.title }}</h1>
                        <p class="lorem_text">{{ qual.description|linebreaksbr }}</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <img src="{{ qual.photo.url }}" class="image_6" style="width:100%">
                  </div>
               </div>
            </div>
            <br>
            <hr style="background-color:white">
              {% elif qual.lewo == True %}
              {% if user.is_authenticated %}
             <button onclick="window.location.href='{% url 'about_us_edit' pk=qual.pk %}'" class="btn btn-primary">Edycja</button>
             <button onclick="window.location.href='{% url 'about_us_delete' pk=qual.pk %}'" class="btn btn-danger">Usuń</button>
              {% endif %}
            <br>
             <br>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <img src="{{ qual.photo.url }}" class="image_6">
                  </div>
                  <div class="col-md-6">
                     <div class="news_taital_box">
                        <h1 class="client_taital">{{ qual.title }}</h1>
                        <p class="lorem_text">{{ qual.description|linebreaksbr }}</p>
                     </div>
                  </div>
               </div>
            </div>
            <br>
            <hr style="background-color:white">
             {% elif qual.srodek == True %}
             {% if user.is_authenticated %}
             <button onclick="window.location.href='{% url 'about_us_edit' pk=qual.pk %}'" class="btn btn-primary">Edycja</button>
             <button onclick="window.location.href='{% url 'about_us_delete' pk=qual.pk %}'" class="btn btn-danger">Usuń</button>
              {% endif %}
                <br>
                <div class="news_section_2 text-center">  <!-- Center the image -->
                    <img src="{{ qual.photo.url }}" class="image_6">
                </div>
                <br>
                <hr style="background-color:white">

             {% elif qual.bez == True %}
             {% if user.is_authenticated %}
             <button onclick="window.location.href='{% url 'about_us_edit' pk=qual.pk %}'" class="btn btn-primary">Edycja</button>
             <button onclick="window.location.href='{% url 'about_us_delete' pk=qual.pk %}'" class="btn btn-danger">Usuń</button>
              {% endif %}
                <br>
             <br>
             <br>
                <div class="news_section_2">
                    <div class="row">
                        <div class="col-md-12">  <!-- Full width description -->
                            <div class="news_taital_box">
                                <h1 class="client_taital">{{ qual.title }}</h1>
                                <p class="lorem_text">{{ qual.description|linebreaksbr }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% if qual.photo %}
                <img src="{{ qual.photo.url }}" class="image_6">
            {% else %}
                <br>
                <hr style="background-color:white">
            {% endif %}


            {% endif %}
        {% endfor %}
         </div>
      </div>
{% endblock %}

