{% extends "base.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
      <div class="news_section layout_padding">
      <div class="container">
          <br>
          <h1 class="banner_taital">Zaloguj sie</h1>
          <div class="email_text">
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% trans "Zapomniałeś hasła? Wprowadź swój adres e-mail poniżej, a wyślemy Ci wiadomość z instrukcją, jak je zresetować." %}
    {% endelement %}
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
              <div class="send_btn">
            {% element button class="send_btn" type="submit" %}
                {% trans "Resetuj" %}
            {% endelement %}
              </div>
        {% endslot %}
    {% endelement %}
              <br>
              <br>
              <br>
    {% element p %}
        {% blocktrans %}Skontaktuj się z nami jeśli masz problem z resetem swojego hasła{% endblocktrans %}
    {% endelement %}
{% endblock content %}
