{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
      <div class="news_section layout_padding">
      <div class="container">
          <br>
          <h1 class="banner_taital">Reset hasła</h1>
          <div class="email_text">
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% blocktrans %}Wysłaliśmy do Ciebie wiadomość e-mail. Jeśli jej nie otrzymałeś, sprawdź folder spam. W przeciwnym razie skontaktuj się z nami, jeśli nie otrzymasz jej w ciągu kilku minut.{% endblocktrans %}
    {% endelement %}
          </div>
      </div>
      </div>
{% endblock content %}
