{% extends 'base.html' %}

{% block content %}

<div class="news_section layout_padding">
    <div class="container">
              <h1 class="client_taital">Nowa sekcja - {{ blog.tytul }}</h1>
              <br>
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Dodaj</button>
              </form>
              <a href="{% url 'post_detail_BW' blog.pk %}" class="btn btn-primary">Powrót </a>
    </div>
</div>

{% endblock %}