{% extends 'base.html' %}

{% block content %}

<section class="banner_main">
   <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
      <div class="choose">
         <div class="container">
            <div class="titlepage">
               <h2 style="text-align: center;">{{ blog.Title}}</h2>
               <p>{{ blog.data }}</p>
            </div>
         </div>
      </div>
   </div>
   <div class="about">
      {% if user.is_authenticated %}
      <button onclick="window.location.href='{% url 'post_post_new' blog.pk %}'" class="btn btn-success">Nowa
         sekcja</button>
      {% endif %}
      <br>
      {% for post in posts %}
      {% if post.Left == True %}
      {% if user.is_authenticated %}
      <button onclick="window.location.href='{% url 'post_post_edit' blog.pk post.pk %}'"
         class="btn btn-primary">Edycja</button>
      <button onclick="window.location.href='{% url 'post_post_delete' blog.pk post.pk %}'"
         class="btn btn-danger">Usuń</button>
      {% endif %}
      <div class="container">
         <!-- Pierwszy wiersz: Tekst po lewej, obrazek po prawej -->
         <div class="row align-items-center">
            <div class="col-md-6 text-center">
               <div class="titlepage">
                  <h2>{{ post.Title }}</h2>
                  <p>{{ post.Description|linebreaksbr }}</p>
               </div>
            </div>
            <div class="col-md-6 text-center">
               <figure>
                  <img src="{{ post.Photo.url }}" alt="About Image" class="img-fluid" />
               </figure>
            </div>
         </div>
         <br>
         <br>
         <br>
         {% elif post.Right == True %}
         {% if user.is_authenticated %}
         <button onclick="window.location.href='{% url 'post_post_edit' blog.pk post.pk %}'"
            class="btn btn-primary">Edycja</button>
         <button onclick="window.location.href='{% url 'post_post_delete' blog.pk post.pk %}'"
            class="btn btn-danger">Usuń</button>
         {% endif %}
         <!-- Drugi wiersz: Obrazek po lewej, tekst po prawej -->
         <div class="row align-items-center">
            <div class="col-md-6 text-center">
               <figure>
                  <img src="{{ post.Photo.url }}" alt="About Image" class="img-fluid" />
               </figure>
            </div>
            <div class="col-md-6 text-center">
               <div class="titlepage">
                  <h2>{{ post.Title }}</h2>
                  <p>{{ post.Description|linebreaksbr }}</p>
               </div>
            </div>
         </div>
         <br>
         <br>
         <br>
      </div>
   </div>
   {% elif post.Midle == True %}
   {% if user.is_authenticated %}
   <button onclick="window.location.href='{% url 'post_post_edit' blog.pk post.pk %}'"
      class="btn btn-primary">Edycja</button>
   <button onclick="window.location.href='{% url 'post_post_delete' blog.pk post.pk %}'"
      class="btn btn-danger">Usuń</button>
   {% endif %}
   <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
      <div class="choose">
         <div class="container">
            <div class="titlepage">
               <h2 style="text-align: center;">Oferta dla twojego biznesu!</h2>
               <p style="text-align: center;">Oferujemy kompleksowe usługi programistyczne, dostosowane do
                  indywidualnych potrzeb klienta – Nasze podejście opiera się na pełnej analizie potrzeb i wymagań
                  klienta. Projektujemy rozwiązania programistyczne, które dokładnie odpowiadają na wyzwania danej
                  branży i specyfiki działalności. Dzięki współpracy z klientem na każdym etapie tworzenia
                  oprogramowania, od analizy, przez projektowanie, aż po wdrożenie i utrzymanie, zapewniamy, że
                  każde rozwiązanie jest w pełni funkcjonalne, wydajne i zgodne z wymaganiami biznesowymi.</p>
            </div>
         </div>
      </div>
   </div>
   {% if post.zdjecie %}
   <img src="{{ post.zdjecie.url }}" class="image_6">
   {% else %}
   <br>
   {% endif %}
   <!-- Nowa sekcja z wyśrodkowanym zdjęciem, gdy Empty == True -->
   {% if Empty == True %}
   <div class="text-center">
      <img src="{{ post.Photo.url }}" alt="Centered Image" class="img-fluid" />
   </div>
   {% endif %}
   {% endfor %}
</section>

{% endblock %}